<!DOCTYPE html>
<html lang="en">
<title>Orderbook Bias</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

html {
  overflow-x: scroll;
  width: auto;
  }

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>
<div style="overflow-x: scroll;">
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/dashboard/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
      <a href="orderbook_bias" class="w3-bar-item w3-button w3-hide-small w3-hover-white">OrderBook Bias </a>
      <a href="trader_bias" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Trader Bias</a>
      <a href="reddit_posts" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Reddit Posts</a>
    

    </div>
  </div>

  <!-- Sidebar -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Links</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="https://www.pro.coinbase.com" target="_blank">CoinBasePro</a>   
    <a class="w3-bar-item w3-button w3-hover-black" href="https://www.poloniex.com" target="_blank">Poloniex</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="https://www.binance.com" target="_blank">Binance</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="https://www.bittrex.com" target="_blank">Bittrex</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="https://www.kraken.com" target="_blank">Kraken</a>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Coinbase Pro OrderBook</h1>
        <p>The most trusted platform for trading cryptocurrency
      Coinbase Pro offers individuals the ability to trade a variety of digital assets on a secure, insurance backed platform. 
      Coinbase Pro offers an intuitive interface with real time orderbooks, 
      charting tools, trade history, and a simple order process so you can trade from day one.</p>
              <p>-----Data based off full orderbook supplied via API-----</p>
      </div>
      <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/CoinbasePro1.png" 
          style = 'width:380px; position: absolute; top: 120px; left: 1400px; height:100px; '></p>
      </div>
    </div> 

    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/coinbasepro_orderbook_bids_corr.png" 
          style = 'width:440px; height:310px; position: absolute; top: 300px; left: 770px;'></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/coinbasepro_orderbook_asks_corr.png" 
          style = 'width:460px; height:310px; position: absolute; top: 300px; left: 250px;' ></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/CoinbasePro_OrderBook1.png" 
          style = 'width:480px; height:300px; position: absolute; top: 300px; left: 1300px;' ></p>    
      </div>
    </div>


    <span style="display:block; height: 100px;"></span>



    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Binance OrderBook</h1>
        <p>Binance is one of the most popular, if not the most popular, crypto-to-crypto exchange platforms right now. 
          Since its launch in 2017, its quickly gained reputability in the blockchain community thanks to its variety of coin offerings and insanely low trading fees.</p>
        <p>------ Data based on full orderbook supplied via API ------</p>
      </div>
      <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Binance1.png" 
          style = 'width:360px; height:100px; position: absolute; top: 750px; left: 1430px;'></p>

      </div>
    </div>
  


    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/binance_orderbook_bids_corr.png" 
          style = 'width:440px; height:310px; position: absolute; top: 950px; left: 770px;'></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/binance_orderbook_asks_corr.png" 
          style = 'width:460px; height:310px; position: absolute; top: 950px; left: 250px;' ></p>
        <p class=" w3-padding-large w3-padding-64 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Binance_OrderBook1.png" 
          style = 'width:480px; height:300px; position: absolute; top: 950px; left: 1300px;' ></p>    
      </div>
    </div>

    <span style="display:block; height: 100px;"></span>

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Kraken OrderBook</h1>
        <p>San Francisco-based Kraken is one of the largest Bitcoin exchanges, and is considered the largest bitcoin exchange based on the euro volume and liquidity.
            Kraken landed in the international scene in 2011, and was the first Bitcoin exchange to have trading price and volume displayed in the Bloomberg Terminal. 
            Kraken’s was also the first to pass a cryptographically verifiable proof-of-reserves audit, is the Tokyo government’s court-appointed trustee, and Germany’s BaFin regulated Fidor Bank.</p>
        <p>------ Data based on full orderbook supplied via API ------ </p>
      </div>
      <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Kraken.png" 
          style = ' width:360px; height:85px; position: absolute; top: 1400px; left: 1420px;'></p>
        
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/kraken_orderbook_bids_corr.png" 
          style = 'width:440px; height:310px; position: absolute; top: 1630px; left: 770px;'></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/kraken_orderbook_asks_corr.png" 
          style = 'width:460px; height:310px; position: absolute; top: 1630px; left: 250px;' ></p>
        <p class=" w3-padding-large w3-padding-64 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Kraken_OrderBook1.png" 
          style = 'width:480px; height:300px; position: absolute; top: 1630px; left: 1300px;' ></p>    
      </div>
    </div>


    <span style="display:block; height: 100px;"></span>

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Bittrex OrderBook</h1>
        <p>Bittrex is a global leader in the blockchain revolution. They operate the premier U.S.-based blockchain trading platform, 
            which is designed for customers who demand lightning-fast trade execution, dependable digital wallets, and industry-leading security practices.</p> 
                                            <p>------ Data based on 50 most recent orders supplied via API ------ </p>
      </div>
      <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Bittrexx.png" 
          style = ' width:450px; height:100px; position: absolute; top: 2150px; left: 1430px; '></p>
    
      </div>
    </div>


    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/bitrex_orderbook_bids_corr.png" 
          style = 'width:440px; height:310px; position: absolute; top: 2400px; left: 770px;'></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/bitrex_orderbook_asks_corr.png" 
          style = 'width:460px; height:310px; position: absolute; top: 2400px; left: 250px;' ></p>
        <p class=" w3-padding-large w3-padding-64 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Bitrexx_OrderBook1.png" 
          style = 'width:480px; height:300px; position: absolute; top: 2400px; left: 1300px;' ></p>    
      </div>
    </div>


    <span style="display:block; height: 100px;"></span>

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Poloniex OrderBook</h1>
        <p>Poloniex is a pure crypto to crypto exchange based in the United States. With a grand redesign in early 2015, and again in 2020, 
            the site has added a wealth of features to provide a fully immersive trading experience. 
            Technical analysis charts and live chat mean it is easy to stay abreast of news flow and analyze price trends before taking a position.
            For a crypto to crypto exchange, there is a good security and decent volume and order book depth for the majority of its trading pairs.</p>
        <p>------ Data based on 50 most recent orders supplied via API ------ </p>
      </div>
      <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Poloniex.png" 
          style = 'width:260px; height:60px; position: absolute; top: 2900px; left: 1500px;'></p>
        
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/poloniex_orderbook_bids_corr.png" 
          style = 'width:440px; height:310px; position: absolute; top: 3150px; left: 770px;'></p>
        <p class=" w3-padding-large w3-padding-32 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/poloniex_orderbook_asks_corr.png" 
          style = 'width:460px; height:310px; position: absolute; top: 3150px; left: 250px;' ></p>
        <p class=" w3-padding-large w3-padding-64 w3-center"><image src="https://crypto-data-bucket.s3.amazonaws.com/static/Poloniex_OrderBook1.png" 
          style = 'width:480px; height:300px; position: absolute; top: 3150px; left: 1300px;' ></p>    
      </div>
    </div>

    <pre>
      




    </pre>

    <!-- Pagination -->
    <!div class="w3-center w3-padding-32">
      <!div class="w3-bar">
        <!a class="w3-button w3-black" href="#">1</!a>
        <!a class="w3-button w3-hover-black" href="#">2</!a>
        <!a class="w3-button w3-hover-black" href="#">3</!a>
        <!a class="w3-button w3-hover-black" href="#">4</!a>
        <!a class="w3-button w3-hover-black" href="#">5</!a>
        <!a class="w3-button w3-hover-black" href="#">»</!a>
      <!/div>
    <!/div>

    <!footer id="myFooter">
      <!div class="w3-container w3-theme-l2 w3-padding-32">
        <!h4>Footer</!h4>
      <!/div>

      <div class="w3-container w3-theme-l1">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>
    </footer>

  <!-- END MAIN -->
  </div>

  <script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");

  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");

  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }

  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }
  </script>

</div>
</body>
</html>
